<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroAutorizacion</filter-name>
        <filter-class>PPA_EXT_PAS.funciones_entrada.FiltroAutorizacion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Home.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Entidad_Externa.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Administracion_Carrera.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/vistas/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Entidad_Externa/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Administracion_de_Carrera/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAutorizacion</filter-name>
        <url-pattern>/Mantenimiento/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>F_autenticar_usuario</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_autenticar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Menu_principal</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Menu_principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_carta_compromiso</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_carta_compromiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Muestra_carreras</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Muestra_carreras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Muestra_programas</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Muestra_programas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_muestra_ficha_estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_muestra_ficha_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Consulta_Estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Consulta_Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_consulta_codigo_cc</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_consulta_codigo_cc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_graba_Ficha_estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_graba_Ficha_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_ficha_estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_ficha_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Consulta_Empresa</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Consulta_Empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_grabar_empresa</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_grabar_empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Muestra_tipo_empresa</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Muestra_tipo_empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Consulta_Empresa_mod</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Consulta_Empresa_mod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_peticion_aprob</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_peticion_aprob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_of_not_tutor</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_of_not_tutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_informe_seguimiento</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_informe_seguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_informe_estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_informe_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_autoeval_estudiante</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_autoeval_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_informe_tutor</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_informe_tutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_informe_final</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_informe_final</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_carta_aceptacion</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_carta_aceptacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_peticion_verbal</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_peticion_verbal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FLogout</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.FLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Consulta_EstudianteCC</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Consulta_EstudianteCC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_muestra_tutor</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_muestra_tutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Mantenimiento_parametro</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Mantenimiento_parametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Consulta_Parametro</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Consulta_Parametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_grabar_parametro</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_entrada.F_grabar_parametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Muestra_tutores</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_Muestra_tutores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_genera_pdf_carta_compromiso</servlet-name>
        <servlet-class>PPA_EXT_PAS.funciones_salida.F_genera_pdf_carta_compromiso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>F_autenticar_usuario</servlet-name>
        <url-pattern>/F_autenticar_usuario.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Menu_principal</servlet-name>
        <url-pattern>/F_Menu_principal.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_carta_compromiso</servlet-name>
        <url-pattern>/F_carta_compromiso.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Muestra_carreras</servlet-name>
        <url-pattern>/F_Muestra_carreras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Muestra_programas</servlet-name>
        <url-pattern>/F_Muestra_programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_muestra_ficha_estudiante</servlet-name>
        <url-pattern>/F_muestra_ficha_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Consulta_Estudiante</servlet-name>
        <url-pattern>/F_Consulta_Estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_consulta_codigo_cc</servlet-name>
        <url-pattern>/F_consulta_codigo_cc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_graba_Ficha_estudiante</servlet-name>
        <url-pattern>/F_graba_Ficha_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_ficha_estudiante</servlet-name>
        <url-pattern>/F_genera_pdf_ficha_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Consulta_Empresa</servlet-name>
        <url-pattern>/F_Consulta_Empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_grabar_empresa</servlet-name>
        <url-pattern>/F_grabar_empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Muestra_tipo_empresa</servlet-name>
        <url-pattern>/F_Muestra_tipo_empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Consulta_Empresa_mod</servlet-name>
        <url-pattern>/F_Consulta_Empresa_mod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Consulta_EstudianteCC</servlet-name>
        <url-pattern>/F_Consulta_EstudianteCC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_peticion_aprob</servlet-name>
        <url-pattern>/F_genera_pdf_peticion_aprob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_of_not_tutor</servlet-name>
        <url-pattern>/F_genera_pdf_of_not_tutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_informe_seguimiento</servlet-name>
        <url-pattern>/F_genera_pdf_informe_seguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_informe_estudiante</servlet-name>
        <url-pattern>/F_genera_pdf_informe_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_autoeval_estudiante</servlet-name>
        <url-pattern>/F_genera_pdf_autoeval_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_informe_tutor</servlet-name>
        <url-pattern>/F_genera_pdf_informe_tutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_informe_final</servlet-name>
        <url-pattern>/F_genera_pdf_informe_final</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_carta_aceptacion</servlet-name>
        <url-pattern>/F_genera_pdf_carta_aceptacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_peticion_verbal</servlet-name>
        <url-pattern>/F_genera_pdf_peticion_verbal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Mantenimiento_parametro</servlet-name>
        <url-pattern>/F_Mantenimiento_parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Consulta_Parametro</servlet-name>
        <url-pattern>/F_Consulta_Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_grabar_parametro</servlet-name>
        <url-pattern>/F_grabar_parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Muestra_tutores</servlet-name>
        <url-pattern>/F_Muestra_tutores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FLogout</servlet-name>
        <url-pattern>/FLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>F_Mantenimiento_parametro</servlet-name>
            <url-pattern>/F_Mantenimiento_parametro</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_muestra_tutor</servlet-name>
        <url-pattern>/F_muestra_tutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>F_Consulta_Parametro</servlet-name>
            <url-pattern>/F_Consulta_Parametro</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_genera_pdf_carta_compromiso</servlet-name>
        <url-pattern>/F_genera_pdf_carta_compromiso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    </web-app>
